body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: rgb(255, 0, 242);
    color: rgb(241, 233, 233);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}
